# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules

# testing
*/coverage

# production
*/build

# misc
.DS_Store
.env
.eslintcache

INSTALL.md

/Dockerfile
# cms
/cms
/db
docker-compose.yml
production.yml

# Caddy folder
/caddy

/web-nextjs/public/setup/runtime-config.js
/web-nextjs/pages/notes/
/web-nextjs/pages/notes.tsx

npm-debug.log*
yarn-debug.log*
yarn-error.log*
