---
import SwitchLogo from "./SwitchLogo.astro";
---

<header class="wrapper header__hero">
  <svg
    class="header__bg"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
  >
    <title>2 triangles in the background</title>
    <polygon fill="var(--t-fg)" points="20,0 98,80 95,0"></polygon>
    <polygon fill="var(--c-secondary)" points="40,0 80,70 100,0"></polygon>
  </svg>
  <SwitchLogo />
  <h1 class="header__title">
    vulpis development <span class="header__h1_subtitle">Franziska Fieke</span>
  </h1>
  <p class="header__subtitle">
    <strong class="word_highlight">web</strong> & <strong class="word_highlight"
      >mobile app</strong
    > solutions
  </p>
</header>
<style>
  .header__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    max-height: 500px;
    z-index: -2;
  }

  @media screen and (max-width: 999px) {
    .header__bg {
      height: 50vh;
    }
  }

  @media screen and (max-width: 799px) {
    .header__bg {
      height: 25vh;
    }
  }

  .header__hero {
    margin-top: 61px;
    margin-bottom: 4rem;
  }

  .header__title {
    font-size: 24px;
    line-height: 1.5;
    font-family: "Zilla Slab";
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .header__h1_subtitle {
    display: block;
    font-family: "Raleway";
    line-height: 2.2;
    font-size: 0.9rem;
    font-weight: 300;
  }

  .header__subtitle {
    font-size: 0.9rem;
    margin-top: -0.2rem;
  }

  .word_highlight {
    font-size: 1.1rem;
  }
</style>
