---
---

<div class="logo_wrapper">
  <svg
    id="logo"
    width="262"
    height="202"
    viewBox="0 0 262 202"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    tabindex="0"
  >
    <g id="logo_green_with_switch"
      ><g id="light_switch"
        ><rect
          id="Rectangle 1"
          width="20"
          height="26"
          x="239.5"
          y="97.5"
          fill="var(--t-bg)"
          stroke="#898989"
          stroke-width="0"
          rx="4.5"></rect><path
          id="Rectangle 3"
          fill="#5A5A5A"
          d="M244.8 107.4h8.1v6.8h-8.1z"
          transform="rotate(-4 244.8 107.4)"></path><path
          id="switch"
          fill="#2F2F2F"
          d="M246.6 112.5h8.2v5h-8.2z"
          transform="rotate(-96 246.6 112.5)"></path>
      </g><g id="logo_circle_bg"
        ><path
          id="Vector"
          fill="#1C2823"
          d="M114.2 199.6a98.8 98.8 0 1 0 0-197.6 98.8 98.8 0 0 0 0 197.6Z"
        ></path>
      </g><g id="arm"
        ><path
          id="Vector 4"
          fill="#542B2B"
          stroke="#898989"
          d="M171.3 108c-7.7 10.5-50 19.2-50 19.2v11.5l53.9-19.2s5-1.8 7.6-3.9c1.7-1.3 3.9-5.5 3.9-7.6 0-2.2-3.9 0-3.9 0s1.1-2.8 0-3.9c-1-1-3.8 0-3.8 0s0-6.7-7.7 3.9Z"
        ></path><path
          id="Vector 5"
          fill="#A9671A"
          d="M156 117.4c-11.6 3.8-34.7 9.8-34.7 9.8v11.5l43.3-15.4s-2.7-1.7 0-3.8c1.6-1.3-4.8 3.8-4.8 1.7 0-2 3.8-3.8 3.8-3.8l-7 2s10.9-5.9-.7-2Z"
        ></path>
      </g><g id="logo_face"
        ><path
          id="Vector_2"
          fill="#3D6052"
          stroke="#66A88C"
          stroke-width="3"
          d="M115.4 199.6c55.2 0 100-44.2 100-98.8A99.4 99.4 0 0 0 115.4 2a99.4 99.4 0 0 0-100 98.8 99.4 99.4 0 0 0 100 98.8Z"
        ></path><g id="Vector_3"
          ><path
            fill="#404040"
            d="M115.4 135.3v27.6l17-13.8-17-13.8Zm0 0v27.6l-17-13.8 17-13.8Z"
          ></path><path
            fill="#A9671A"
            d="M115.4 135.3V149h17l-17-13.8ZM115.4 135.3V149h-17l17-13.8Z"
          ></path><path fill="#DB8621" d="M98.4 121.5V149l17-13.8-17-13.8Z"
          ></path><path
            fill="#C87A1E"
            d="M98.4 121.5V149l-17-13.8 17-13.8Zm34 0V149l17-13.8-17-13.8Z"
          ></path><path fill="#DB8621" d="M132.4 121.5V149l-17-13.8 17-13.8Z"
          ></path><path
            fill="#C87A1E"
            d="M115.4 107.7v27.6l17-13.8-17-13.8Zm0 0v27.6l-17-13.8 17-13.8Z"
          ></path><path fill="#DDD" d="M149.3 52.4v27.7l17-13.9-17-13.8Z"
          ></path><path
            fill="#C87A1E"
            d="M149.3 52.4v27.7l-17-13.9 17-13.8Zm-67.8 0v27.7l17-13.8-17-13.8Z"
          ></path><path fill="#DDD" d="M81.5 52.5V80l-17-13.8 17-13.8Z"
          ></path><path
            fill="#424242"
            d="M64.5 38.6v27.7l17-13.9-17-13.8Zm101.8 0v27.7l-17-13.9 17-13.8Z"
          ></path><path
            fill="#DB8621"
            d="M115.4 80v27.7l17-13.8-17-13.8Zm0 0v27.7l-17-13.8 17-13.8Z"
          ></path><path fill="#DB8621" d="M98.4 93.9v27.6l17-13.8-17-13.8Z"
          ></path><path
            fill="#A9671A"
            d="M98.4 93.9v27.6l-17-13.8 17-13.8Zm34 0v27.6l17-13.8-17-13.8Z"
          ></path><path fill="#DB8621" d="M132.4 93.9v27.6l-17-13.8 17-13.8Z"
          ></path><path fill="#C87A1E" d="M132.4 66.3v27.6l17-13.8-17-13.8Z"
          ></path><path
            fill="#A9671A"
            d="M132.4 66.3v27.6l-17-13.8 17-13.8ZM98.4 66.3v27.6l17-13.8-17-13.8Z"
          ></path><path fill="#C87A1E" d="M98.4 66.3v27.6L81.4 80l17-13.8Z"
          ></path><path fill="#A9671A" d="M64.5 93.9v27.6l17-13.8-17-13.8Z"
          ></path><path
            fill="#A7A7A7"
            d="M64.5 93.9v27.6l-17-13.8 17-13.8Zm101.8 0v27.6l17-13.8-17-13.8Z"
          ></path><path fill="#A9671A" d="M166.3 93.9v27.6l-17-13.8 17-13.8Z"
          ></path><path fill="#DB8621" d="M81.5 80v27.7l17-13.8-17-13.8Z"
          ></path><path
            fill="#A9671A"
            d="M81.5 80v27.7l-17-13.8 17-13.8Zm67.8 0v27.7l17-13.8-17-13.8Z"
          ></path><path fill="#DB8621" d="M149.3 80v27.7l-17-13.8 17-13.8Z"
          ></path><path
            fill="#C87A1E"
            d="M166.3 66.3v27.6l-17-13.8 17-13.8Zm-101.8 0v27.6l17-13.8-17-13.8Zm17 41.4v27.6l17-13.8-17-13.8Z"
          ></path><path
            fill="#DB8621"
            d="M81.5 107.7v27.6l-17-13.8 17-13.8Zm67.8 0v27.6l17-13.8-17-13.8Z"
          ></path><path fill="#C87A1E" d="M149.3 107.7v27.6l-17-13.8 17-13.8Z"
          ></path><path
            fill="#404040"
            d="m81.5 107.7 17 13.8-.1-13.8h-17Zm67.8 0-17 13.8v-13.8h17Z"
          ></path><path
            fill="#DDD"
            d="m81.5 135.3 17 13.8h-17v-13.8Zm67.8 0-17 13.8h17v-13.8Z"
          ></path><path
            fill="#C87A1E"
            d="m166.3 121.5-17 13.8h17v-13.8Zm-101.8 0 17 13.8h-17v-13.8Z"
          ></path><path
            fill="#DDD"
            d="m64.5 135.3 17 13.8v-13.8h-17Zm17 13.8 17 13.8v-13.8h-17Zm84.8-13.8-17 13.8v-13.8h17Zm-17 13.8-17 13.8v-13.8h17Z"
          ></path><path
            fill="#A7A7A7"
            d="M98.4 149.1V163h17l-17-13.8Zm34 0V163h-17l17-13.8Z"></path><path
            fill="#404040"
            d="M115.4 135.3v27.6l17-13.8-17-13.8Zm0 0v27.6l-17-13.8 17-13.8Z"
          ></path><path
            fill="#A9671A"
            d="M115.4 135.3V149h-17l17-13.8Zm0 0V149h17l-17-13.8Z"></path><path
            fill="#DB8621"
            d="M98.4 121.5V149l17-13.8-17-13.8Z"></path><path
            fill="#C87A1E"
            d="M98.4 121.5V149l-17-13.8 17-13.8Zm34 0V149l17-13.8-17-13.8Z"
          ></path><path fill="#DB8621" d="M132.4 121.5V149l-17-13.8 17-13.8Z"
          ></path><path
            fill="#C87A1E"
            d="M115.4 107.7v27.6l17-13.8-17-13.8Zm0 0v27.6l-17-13.8 17-13.8Z"
          ></path><path fill="#DDD" d="M149.3 52.4v27.7l17-13.9-17-13.8Z"
          ></path><path
            fill="#C87A1E"
            d="M149.3 52.4v27.7l-17-13.9 17-13.8Zm-67.8 0v27.7l17-13.8-17-13.8Z"
          ></path><path fill="#DDD" d="M81.5 52.5V80l-17-13.8 17-13.8Z"
          ></path><path
            fill="#424242"
            d="M64.5 38.6v27.7l17-13.9-17-13.8Zm101.8 0v27.7l-17-13.9 17-13.8Z"
          ></path><path
            fill="#DB8621"
            d="M115.4 80v27.7l17-13.8-17-13.8Zm0 0v27.7l-17-13.8 17-13.8Z"
          ></path><path fill="#DB8621" d="M98.4 93.9v27.6l17-13.8-17-13.8Z"
          ></path><path
            fill="#A9671A"
            d="M98.4 93.9v27.6l-17-13.8 17-13.8Zm34 0v27.6l17-13.8-17-13.8Z"
          ></path><path fill="#DB8621" d="M132.4 93.9v27.6l-17-13.8 17-13.8Z"
          ></path><path fill="#C87A1E" d="M132.4 66.3v27.6l17-13.8-17-13.8Z"
          ></path><path
            fill="#A9671A"
            d="M132.4 66.3v27.6l-17-13.8 17-13.8ZM98.4 66.3v27.6l17-13.8-17-13.8Z"
          ></path><path fill="#C87A1E" d="M98.4 66.3v27.6L81.4 80l17-13.8Z"
          ></path><path fill="#A9671A" d="M64.5 93.9v27.6l17-13.8-17-13.8Z"
          ></path><path
            fill="#A7A7A7"
            d="M64.5 93.9v27.6l-17-13.8 17-13.8Zm101.8 0v27.6l17-13.8-17-13.8Z"
          ></path><path fill="#A9671A" d="M166.3 93.9v27.6l-17-13.8 17-13.8Z"
          ></path><path fill="#DB8621" d="M81.5 80v27.7l17-13.8-17-13.8Z"
          ></path><path
            fill="#A9671A"
            d="M81.5 80v27.7l-17-13.8 17-13.8Zm67.8 0v27.7l17-13.8-17-13.8Z"
          ></path><path fill="#DB8621" d="M149.3 80v27.7l-17-13.8 17-13.8Z"
          ></path><path
            fill="#C87A1E"
            d="M166.3 66.3v27.6l-17-13.8 17-13.8Zm-101.8 0v27.6l17-13.8-17-13.8Zm17 41.4v27.6l17-13.8-17-13.8Z"
          ></path><path
            fill="#DB8621"
            d="M81.5 107.7v27.6l-17-13.8 17-13.8Zm67.8 0v27.6l17-13.8-17-13.8Z"
          ></path><path fill="#C87A1E" d="M149.3 107.7v27.6l-17-13.8 17-13.8Z"
          ></path><path
            fill="#404040"
            d="m81.5 107.7 17 13.8-.1-13.8h-17Zm67.8 0-17 13.8v-13.8h17Z"
          ></path><path
            fill="#DDD"
            d="m81.5 135.3 17 13.8h-17v-13.8Zm67.8 0-17 13.8h17v-13.8Z"
          ></path><path
            fill="#C87A1E"
            d="m166.3 121.5-17 13.8h17v-13.8Zm-101.8 0 17 13.8h-17v-13.8Z"
          ></path><path
            fill="#DDD"
            d="m64.5 135.3 17 13.8v-13.8h-17Zm17 13.8 17 13.8v-13.8h-17Zm84.8-13.8-17 13.8v-13.8h17Zm-17 13.8-17 13.8v-13.8h17Z"
          ></path><path
            fill="#A7A7A7"
            d="M98.4 149.1V163h17l-17-13.8Zm34 0V163h-17l17-13.8Z"></path><path
            fill="#DDD"
            d="m183.2 121.5-17 13.8v-13.8h17Zm-135.7 0 17 13.8v-13.8h-17ZM166.3 121.5h17v-13.8l-17 13.8Zm-101.8 0h-17v-13.8l17 13.8Z"
          ></path>
        </g>
      </g>
    </g>
  </svg>
  <span id="click_text" class="click_text"></span>
</div>

<style>
  .logo_wrapper {
    position: relative;
    width: fit-content;
  }
  .logo_wrapper:hover {
    cursor: pointer;
  }
  svg.focus-visible {
    outline: 4px dashed black;
  }
  svg:focus:not(:focus-visible) {
    outline: none;
  }
  .click_text {
    position: absolute;
    font-size: 0.7rem;
    bottom: 50px;
    right: 5px;
    font-style: italic;
  }
</style>
